SOURCES/xhost-1.0.7.tar.bz2
SOURCES/xinput-1.6.3.tar.bz2
SOURCES/xrdb-1.1.1.tar.bz2
SOURCES/xset-1.2.4.tar.bz2
SOURCES/rgb-1.0.6.tar.bz2
SOURCES/xisxwayland-1.tar.xz
SOURCES/xkill-1.0.5.tar.bz2
SOURCES/xmodmap-1.0.9.tar.bz2
SOURCES/xrandr-1.5.0.tar.bz2
SOURCES/xsetroot-1.1.2.tar.bz2
SOURCES/xgamma-1.0.6.tar.bz2
